@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
  --primary-color: #f4f1f7;
  --bg-color: rgb(166, 198, 237);
  --border-radius: 5px;
  --text-color: rgba(0, 0, 128, 0.7);
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 96vh;
  font-family: Karla, sans-serif;
  background-color: var(--primary-color);  
  background-image: url(fundo.svg);
}

h1 {
  color: white;
  padding: 20px;
  background: rgba(240, 128, 128, .7);  
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: uppercase;
  width: 350px;
  margin: 20px auto 10px;
  user-select: none;  
  text-align: center;
  transition: all .2s;
}

h1:hover {
  background: rgba(0,0,0, .8);
  background: rgb(240, 128, 128);  
}

/* Bookmarks */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background-color: rgba(166, 198, 237, 0.4); 
  color: rgba(175, 0, 0, 0.5);
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px;
}

.item:hover {
  background: rgba(166, 198, 237, 0.7);
}

a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

a:link, a:visited {
  color: var(--text-color);
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.fa-times {
  float: right;
  cursor: pointer;
  z-index: 2;
}

.name {
  margin-top: 20px;
  margin-right: 20px;
}

.name img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  vertical-align: sub;
}

/* Modal */

.modal-container {
  background: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-width: 95%;
  width: 500px;
  animation: modalopen 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-header {
  background: var(--bg-color);
  color: var(--text-color);
  padding: 15px;
}

h3 {
  margin: 0;
}

.modal-content {
  padding: 20px;
  background-color: whitesmoke;

}

.close-icon {
  float: right;
  color: rgba(175, 0, 0, 0.5);
  font-size: 24px;
  position: relative;
  top: 13px;
  right: 13px;
  cursor: pointer;
}

/* Form */

.form-group {
  height: 55px;
}

.form-input {
  width: 97%;
  padding: 5px;
  border: 2px solid var(--bg-color);
  border-radius: var(--border-radius);
  display: block;
  outline: none;
}

.form-label {
  color: var(--text-color);
  display: block;
}

button {
  cursor: pointer;
  color: var(--text-color);
  background: lightsalmon;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: var(--border-radius);
  margin-top: 10px;
  transition: all .2s;
}

button:hover {
  filter: brightness(90%);
}

button:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 0 20px;
  }
}
